
<div class="container-fluid" style="background-color:#2196F3;color:#fff;height:220px;">
  <h1>Angular scroll with affix</h1>
  <h3>header</h3>
  <p>Directive to determine where the scroll logic (css class switch) will happen</p>
  <p>The html element with the directive will be stickied (its css class will toggle)</p>
</div>
<br>

<div class="container">
  <div class="row">
    <nav class="col-sm-3" [scrollPoint]="235">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#section1">Section 1</a></li>
        <li><a href="#section2">Section 2</a></li>
        <li><a href="#section3">Section 3</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#section41">Section 4-1</a></li>
            <li><a href="#section42">something</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="col-sm-9">
      <div id="section1">    
        <h1>Something</h1>
        <p>scroll and see nav fixed</p>
      </div>
      <div id="section2"> 
        <h1>Something</h1>
        <p>scroll and see nav fixed</p>
      </div>        
      <div id="section3">
        <h1>Something</h1>
        <p>scroll and see nav fixed</p>
      </div>
      <div id="section41">
        <h1>SSomething</h1>
        <p>scroll and see nav fixed</p>
      </div>      
      <div id="section42">
        <h1>something</h1>
        <p>scroll and see nav fixed</p>
      </div>
      <div id="section42">
        <h1>something</h1>
        <p>scroll and see nav fixed</p>
      </div>
      <div id="section42">
        <h1>something</h1>
        <p>scroll and see nav fixed</p>
      </div>
      <div id="section42">
        <h1>something</h1>
        <p>scroll and see nav fixed</p>
      </div>
      <div id="section42">
        <h1>something</h1>
        <p>scroll and see nav fixed</p>
      </div>
      <div id="section42">
        <h1>something</h1>
        <p>scroll and see nav fixed</p>
      </div>
      <div id="section42">
        <h1>something</h1>
        <p>scroll and see nav fixed</p>
      </div>
      <div id="section42">
        <h1>something</h1>
        <p>scroll and see nav fixed</p>
      </div>
      <div id="section42">
        <h1>something</h1>
        <p>scroll and see nav fixed</p>
      </div>
    </div>
  </div>
</div>